<div class="flex items-center py-7 px-10 justify-between">
  <div class="flex flex-row gap-x-10 w-full">
    <div  class="w-1/4 h-40  rounded-xl flex items-center justify-center bg-blue-500 text-white text-xl font-bold underline" >
      123
    </div>
    <div class="w-1/4 h-40 rounded-xl flex items-center justify-center bg-red-500 text-white text-xl font-bold underline" >
      123
    </div>
    <div class="w-1/4 h-40 rounded-xl flex items-center justify-center bg-yellow-500 text-white text-xl font-bold underline" >
      123
    </div>
    <div class="w-1/4 h-40 rounded-xl flex items-center justify-center bg-green-500 text-white text-xl font-bold underline" >
      123
    </div>

  </div>
</div>
